<h1>Collection items</h1>

<% @collection_items.each do |collection_item| %>
  <p><%= collection_item.title %></p>
  <p><%= collection_item.subtitle %></p>
  <p><%= collection_item.body %></p>
  <%= image_tag collection_item.thumb_image %>
<% end %>